/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
hr {
  margin: 1vw;
}

body {
  background-color: black;
  background-image: url(/public/Icons/teia-de-aranha-Z.png);
  background-repeat: no-repeat;
  /* background-position: ;*/
  /*background-size: contain;revisar mais tarde*/
  background-size: cover;
  background-position: center center;
  align-items: center;
  font-family: Georgia, Arial, Helvetica, sans-serif;
}

/*@charset "UTF-8";
============================================= RESET PARA AS SEGUINTES FUNÇOES ===========================*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size:max(25px, 2vw);
  font-weight: 900;
  color: rgb(106, 106, 11);
}
p {
  color: rgb(161, 165, 168);
  margin: 1vw 0vw;
  font-size: max(15px, 1vw);
}

h1:hover {
  color: rgb(83, 83, 8);
}

#video {
  box-shadow: 1.5px 1.5px 10px #b94;
  padding: 4px;
  display: block;
  width: 65vw;
  max-width: 700px;
  justify-content: center;
  margin: 20px auto;
  border-radius: 9px;
}

/*============================================= HEADER ===========================*/

.logos img {
  display: inline-block;
  width: 3.3vw;
}

.logos a {
  text-decoration: none;
}
header {
  align-items: center;
  margin-bottom: 15px;
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgba(132, 197, 57, 0.486);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-style: italic;
}

header > nav > a {
  font-size: max(11px, 2vw);
  text-decoration: none;
  padding: 10px;
  color: #b94;
  /*background: url(assets/nav.jpg) no-repeat 1vw;*/
}
@media (max-width: 650px) {
  header > nav > a {
    font-size: 4vw;
  }
  .logos img {
    display: block;
    width: 6vw;
  }
}
header > nav > a:hover {
  color: rgb(106, 106, 11);
}

nav.sociais {
  padding-left: 700px;
}

img {
  width: 45vw;
  max-width: 650px;
  margin: auto;
  display: flex; /*verificar*/
}

/*============================================= RODAPÉ ===========================*/
footer {
  width: 95%;
  margin: auto;
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgba(132, 197, 57, 0.486);
  padding: 10px;
  display: flex; /*verificar*/
  align-items: flex-end;
  justify-content: space-around; /*verificar*/
  color: rgb(255, 255, 255);
  font-style: italic;
}

footer > div > p {
  color: rgb(255, 255, 255);
  display: inline;
  font-size: max(12px, 0.8vw);
}
footer > nav > a {
  font-size: max(15px, 2vw);
  color: #b94;
  text-decoration: none; /*revisar*/
  align-items: flex-end;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.div > nav > a {
  text-decoration: none;
  color: rgb(106, 106, 11);
}

/*====================LOGO=====================*/
.arac {
  border-radius: 50%;
  box-shadow: 0px 0px 50px rgb(86, 70, 21);
}

/*============================================= PAINÉL ===========================*/

aside {
  margin: 1vw;
  width: 40vw;
  max-width: 70vw;
}
@media (max-width: 650px) {
  aside {
    width: 60vw;
  }
}

.painel {
  border: 1px outset #272727; /*verificar a cor*/
  border-color: rgba(0, 0, 0, 0.611);
  box-shadow: 0px 0px 10px rgba(132, 197, 57, 0.486); /*verificar*/
  background-color: black; /*verificar a cor*/
  margin: 0.5vw;
  padding: 0px 10px;
  color: #c4b48a;
}
.painel > p {
  color: rgb(197, 191, 191);
  font-size: max(13px, 1.5vw);
  
}

.painel > a {
  color: #b94;
  text-decoration: none;
  font-size: max(10px, 1.5vw);
}

.painel > a:hover {
  color: rgba(169, 145, 11, 0.576);
}

/*============================================= GALERIA ===========================*/
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0.2vw;
  margin: 3%;
}

.gallery-items:hover {
  transform: scale(1.2);
  filter: none;
}

.gallery-items {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(139, 139, 0, 0.671);
  flex-grow: 1;
  transition: transform 0.4s linear;
}

.gallery-items > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*============================================= ESPELHO ===========================*/
#container-principal {
  width: 98%;
  display: grid; /*GRID = grade*/
  gap: 8px; /*GAP = espaçamero*/
  grid-template-columns: 1fr 1fr;
  background-color: rgb(0, 0, 0);
  margin: 4px;
}
@media (max-width: 650px) {
  #container-principal {
    display: block;
    justify-items: center;
  }
  #container3 {
    width: 80vw;
  }
  #container3 img {
    width: 75vw;
  }

  #container2 {
    margin-left: 3.5vw;
  }
}

#container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 94%;
  min-width: 400px;
}

#container2 > div {
  background-color: rgb(31, 26, 14);
  box-shadow: 1.5px 1.5px 10px rgb(170, 145, 5);
  display: grid;
  margin: 4px;
  padding: 0.5vw;
}

#container2 > div > p {
  color: white;
  padding: 2px 8px 2px 8px;
  font-size: max(9px, 1.2vw);
}

/*--------------------------------------------------------------------------*/
.contGalery {
  display: grid;
  justify-items: center;
}

.divToMirror > img {
  transition: transform 0.3s ease; /* Tempo e suavidade da transição */
  width: 100%;
  max-width: 100%;
  border-radius: 2vw;
  padding: 2px 8px 2px 8px;
  box-shadow: 0.1px 0.11px 15px rgba(168, 8, 8, 0.884);
}
.divToMirror > img:hover {
  transform: scale(1.2); /* Faz o zoom na imagem, aumentando 10% */
}

#container3 {
  background-image: url("https://nrstudios.co.uk/wp-content/uploads/Cristian-5.jpg");
  background-size: cover; /* Ajusta a imagem para cobrir toda a div */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat;
  box-shadow: 0.1px 0.1px 15px rgb(170, 145, 5);
  max-width: 100%;
  display: inline-block;
  text-align: center;
}

#containerX > img {
  margin: 1.3vw 0vw 1.3vw 1.3vw;
  padding: 0.7vw;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 20px rgba(231, 74, 1, 0.822);
  width: 95%;
  max-width: 100%;
}
#containerX p {
  color: white;
}

/*=================================================DIV OCULTA================================*/
#oculta img {
  width: 20%;
}

#oculta a > img {
  width: 20%;
}
#oculta > p {
  color: white;
}
#divInvisivel {
  display: none;
  padding: 15px;
}
#divInvisivel > p {
  color: white;
  text-align: center;
  margin: 1.5vw 0vw 1.5vw 0vw;
}

.divInvisivel > a img {
  margin: auto;
  width: 20vw;
  box-shadow: 0px 0px 20px rgb(132, 197, 57);
}

.divInvisivel > img {
  margin: auto;
  width: 20vw;
  box-shadow: 0px 0px 20px rgb(132, 197, 57);
}
@media (max-width: 650px) {
  .divInvisivel img {
    width: 60vw;
  }
}

/*================================== MODELO & CURIOSIDADES & ESTILOS DE TATTOO=====================*/
article {
  flex-direction: column;
  background: black;
  box-shadow: 0px 0px 20px rgba(132, 197, 57, 0.486);
  border-radius: 10px;
  display: grid;
  justify-items: center;
  width: 90%;
  margin: 0%;
}

article > img {
  margin: 15px 10px;
  border-radius: 10px;
  margin: 1em;
  float: left; /*verificar*/
  box-shadow: 0px 0px 20px rgba(196, 65, 5, 0.651);
}
article > img:hover {
  opacity: 0.7;
}
article > p {
  margin: 0.5em;
  color: rgb(255, 255, 255);
  font-size: max(16px, 1.5vw);

}

article > p:first-letter {
  color: rgb(97, 8, 8);
  font-size: max(20px, 2vw);
}

@media only screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }

  @font-face {
    font-family: Chernobyl;
    src: url(fonts/Chernobyl.otf);
  }
}
/*===================================== RELÂMPAGO ===========================*/
/* Estilo do contêiner */

/* Estilos básicos */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.carousel-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 35px rgba(117, 19, 19, 0.781);
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(76, 112, 35);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(58, 92, 20);
/*==========================================*/
}
.study{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(196, 65, 5, 0.651);
  margin: 1vw;
}
.study img {
  box-shadow: 0px 0px 20px rgba(148, 196, 5, 0.508);
  width: 27.5vw;
  margin: 1vw;
  
}
